<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div id="mvvm-app">
    <input type="text" name="" id="" v-model="someStr">
    <input type="text" v-model="child.someStr">

    <p>{{ getHelloWorld }}</p>

    <p v-html="htmlStr"></p>

    <button v-on:click="clickBtn">Click me</button>

  </div>
  
  <script src="./js/Observer.js"></script>
  <script src="./js/Watcher.js"></script>
  <script src="./js/Compiler.js"></script>
  <script src="./js/mvvm.js"></script>

  <script>
    let vm = new MVVM({
      el: '#mvvm-app',
      data: {
        someStr: 'hello',
        className: 'btn',
        htmlStr: '<span style="color: red">red</span>',
        child: {
          someStr: 'world'
        }
      },
      computed: {
        getHelloWorld () {
          return this.someStr + this.child.someStr
        }
      },
      methods: {
        clickBtn: e => {
          console.log('hahahaha')
        }
      }
    })
    console.log(vm)
  
  
  </script>

</body>
</html>